.profile-container{
    border: 1px solid black;
    width: 80%;
    padding: 7px;
    margin-right: auto;
    margin-left: auto
}

.profile-text{
    font-size: $text-size-medium;
    font-weight: 400
    
}